--
-- PostgreSQL database dump
--

\restrict iqS9vpqTdlggIUI9hrceJHP9aYvi1aYv5Aga5zgDPNo5mGnpzkI13lGtIX7jT3r

-- Dumped from database version 16.15
-- Dumped by pg_dump version 16.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: rol; Type: TABLE DATA; Schema: public; Owner: sbvia_user
--

COPY public.rol (id_rol, nombre, descripcion, fecha_creacion, activo) FROM stdin;
1	ADMINISTRADOR	Administraci├│n completa del sistema	2026-09-07 02:09:11.362354	t
2	INSTRUCTOR	Supervisi├│n de participantes y pr├ícticas	2026-09-07 02:09:11.362354	t
3	PARTICIPANTE	Conductor en formaci├│n	2026-09-07 02:09:11.362354	t
\.


--
-- Name: rol_id_rol_seq; Type: SEQUENCE SET; Schema: public; Owner: sbvia_user
--

SELECT pg_catalog.setval('public.rol_id_rol_seq', 3, true);


--
-- PostgreSQL database dump complete
--

\unrestrict iqS9vpqTdlggIUI9hrceJHP9aYvi1aYv5Aga5zgDPNo5mGnpzkI13lGtIX7jT3r

